.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  .card-header {
    background-color: rgba(0, 136, 204, 0.7607843137);
    color: #fff;
    line-height: 1.6;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 0.59rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    &:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
    .card-title {
      margin: 0;
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      font-family: inherit;
      font-weight: 500;
      line-height: 1;
      font-family: 'Roboto Condensed', sans-serif;
    }
  }
}
