table.dataTable.no-footer {
  border-bottom: 1px solid #111;
  width: 100%;
}
table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: border-box;
}

table.dataTable {
  width: 100%;
  margin: 10px auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 0 !important;
  border: 1px solid #dee2e6;
  background-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;

  .sorting_asc {
    background-image: url("https://cdn.datatables.net/1.10.16/images/sort_asc.png");
    width: 130.797px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
  }
  thead {
    th,
    td {
      padding: 10px 18px;
      border-bottom: 1px solid #111;
      font-weight: bold;
      box-sizing: border-box;
      height: 40px;
      padding: 0 4px !important;
      vertical-align: middle;
      border: 0;
    }
  }
  tbody tr {
    background-color: #ffffff;
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    td {
      height: 40px;
      padding: 0 4px !important;
      vertical-align: middle;
      border: 1px solid #dee2e6;
      a {
        cursor: pointer;
        background: #444;
        padding: 5px 10px;
        text-decoration: none;
        color: #fff;
        border-radius: 3px;
        margin-right: 3px;
        text-transform: uppercase;
        display: inline-block;
    }
    }
    .text-right {
        text-align: right !important;
    }
  }
}
