.casino_tab{
    justify-content: space-between;
    background-color: #51524e !important;
}

@media screen and (max-width: 800px) {
    .rule_font{
        font-size: 12px;
        text-align: right;
    }
    .round_id{
        font-size: 12px;
    }
    ul.nav {
        justify-content: flex-start;
        width: 50%;
    }
}