.profit_stats {
  .form-group {
    margin-bottom: 1rem;
    position: relative;
    .mb-0,
    .my-0 {
      margin-bottom: 7px !important;
      margin-top: 0px;
    }
    h5 {
      font-size: 17px;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.2;
      color: inherit;
    }
    .profit-loss-box-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 4px !important;
      .profit-loss-box {
        padding: 3px;
        color: #fff;
        width: 9.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;
        float: left;
        font-size: 12px;
      }
      .bg-success {
        background-color: #28a745 !important;
      }
    }
  }
}

.profit_loss_table {
  border: 1px solid #dee2e6 !important;
  margin-bottom: 0 !important;
  max-width: 100%;
  border-collapse: collapse;
  .btn-diamond {
    background-color: #0088cc;
    border-color: #0088cc;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.2rem 0.7rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
}

.data-table {
  table {
    th,
    td {
      height: 40px;
      padding: 0 4px !important;
      vertical-align: middle;
      text-align: left;
    }
  }
}
.table-striped {
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.custom-table {
  td {
    border: 1px solid #dee2e6 !important;
  }
}
