.main-content{
    max-width: 65% !important;
    flex: 0 0 65% !important;
    padding-right: 17px;
}
.sidebar-right{
    max-width: 35% !important;
    flex: 0 0 35% !important;
    padding-left: 0;
}