.listing-grid {
    background-color: #f9f9f9;
    padding: 5px 12px;
    margin: 0;
     h2 {
        font-size: 22px;
        margin: 0px;
        font-family: "Roboto Condensed", sans-serif !important;
        font-weight: 500;
    }
    .m-t-5 {
        margin-top: 5px;
        font-family: "Roboto Condensed", sans-serif !important;
    }
}